/* variabls */
:root{
    --primary:#ffc636;
    --secondary: #0A0B5b;
}
/*reset all defualt sizes*/
body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none; 
}
body, li{
    list-style-type: none;
}

/*base style*/
body{
    background: var(--secondary);
    overflow-x: hidden;
    font-family: "Rubik-Regular";
}
.button{
    background:none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
}
.button:hover{
    color: #222;
    background:var(--primary);
}
input,textarea{
    background: rgba(255,255, 255, 0.05);
    padding: 10px 32px;
    border-radius: 20px;
    border: 2px solid #9893d9;
    color: #f2f2f2;
}


/*fonts*/
@font-face{
    font-family: "Rubik-Regular";
    src: url(assets/fonts/Rubik-Regular.ttf);
}
h1, h2, h3, h4{
    color: #dddbff;
    font-weight: normal;
}
p, a, li{
    color: #9893d8;
}
h1,h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.leading{
    font-size: 1.1em;
}

/*mobile style*/
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
   }
.site-nav{
    margin: 0 20px;
   }
.site-nav ul{
    display: none;
}
.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom:3px solid var(--primary)
}
#welcome{
    padding: 0 20px 20px 20px;
}
.welcome-text{
    grid-column: 1/6;
}
.welcome-img{
    grid-column: 6/9;
}
.welcome-img img{
    width: 200%;
}   
.welcome-text a{
    margin: 20px 0;
}
#portfolio{
    background-image: url(assets/square_bg.png);
    padding: 30px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
#portfolio h3{
    text-align: center;
    margin-bottom: 0;
}
.projects a{
    grid-column: 1/9;
    margin:0 20px;
    display: flex;
}
.projects *{
    align-self: center;
    margin: 0 20px;
    max-width: 40%;
}
.projects h4{
    color: #9994f7;
   white-space: nowrap;
}
#skills{
    padding: 30px 20px;
    background: #07083e;
}
#skills h3{
    text-align: center;
}
#skills ul{
    margin: 40px 0;
}
#skills li{
    padding: 10;
    background:rgba(0, 0,0, 0.2);
    grid-column: span 4;
    text-align: center;
}
#skills img{
    height: 80px;
    margin: 10px auto;
}
#contact{
    padding: 30px 20px;
    background:#080936;   
}
#contact, h3 #contact, p{
    text-align: center;
    margin-bottom:0;
}
#contact form{
    width: 80%;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
}
#contact input, #contact textarea{
    width: 100%;
    margin: 10px auto;
    }
#contact .button{
    margin-top: 10px; 
}
footer{
    padding: 30px 20px;
    background-color: #14153d;
    background-image: url(assets/footer_image.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top center;

}
footer .copyright{
    grid-column: 1/3;
    font-size: 0.8em;
}
footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
}
footer li{
    margin: 0 6px;
}
footer img{
    width: 20px;
}





















/*small tablet style*/
@media screen and (min-width:620px){

}

/*large tablets and laptop styles*/
@media screen and (min-width:960px){

}

/*desktop styles*/
@media screen and (min-width:1200px){

}