/* variabls */
:root{
    --primary:#ffc636;
    --secondary: #0A0B5b;
}
/*reset all defualt sizes*/
body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none; 
}
body, li{
    list-style-type: none;
}

/*base style*/
body{
    background: var(--secondary);
    overflow-x: hidden;
    font-family: "Rubik-Regular";
    max-width: 100vw;
}
.button{
    background:none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
}
.button:hover{
    color: #222;
    background:var(--primary);
}
input,textarea{
    background: rgba(255,255, 255, 0.05);
    padding: 10px 32px;
    border-radius: 20px;
    border: 2px solid #9893d9;
    color: #f2f2f2;
}


/*fonts*/
@font-face{
    font-family: "Rubik-Regular";
    src: url(assets/fonts/Rubik-Regular.ttf);
}
h1, h2, h3, h4{
    color: #dddbff;
    font-weight: normal;
}
p, a, li{
    color: #9893d8;
}
h1,h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.leading{
    font-size: 1.1em;
}
.welcome-text p{
    text-align: left;
}


/*mobile style*/
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
   }
.site-nav{
    margin: 0 20px;
   }
.site-nav ul{
    display: flex;
    grid-column: 5/9;
    justify-content: right;
}
.site-nav li{
    align-self: center;
    margin-left: 20px;
    
}
.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom:3px solid var(--primary)
}
#welcome{
    padding: 0 20px 20px 20px;
}
.welcome-text{
    grid-column: 1/6;
    
}
.welcome-img{
    grid-column: 6/9;
}
.welcome-img img{
    width: 200%;
}   
.welcome-text a{
    margin: 20px 0;
}
#portfolio{
    background-image: url(assets/square_bg.png);
    padding: 30px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
#portfolio h3{
    text-align: center;
    margin-bottom: 0;
}

.projects a{
    grid-column: 1/9;
    margin:0 20px;
    display: flex;
    
}
.projects a *{
    align-self: center;
    margin: 0 20px;
    max-width: 40%;
    
}
.projects h4{
    color: #9994f7;
   white-space: nowrap;
}
#skills{
    padding: 30px 20px;
    background: #07083e;
}
#skills h3{
    text-align: center;
}
#skills ul{
    margin: 40px 0;
}
#skills li{
    padding: 10;
    background:rgba(0, 0,0, 0.2);
    grid-column: span 4;
    text-align: center;
}
#skills img{
    height: 80px;
    margin: 10px auto;
}
#contact{
    padding: 30px 20px;
    background:#080936;   
}
#contact, h3 #contact, p{
    text-align: center;
    margin-bottom:0;
}
#contact form{
    width: 80%;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
    
}
#contact input, #contact textarea{
    width: 80%;
    margin: 10px auto;
    }
#contact .button{
    margin-top: 10px; 
}
footer{
    padding: 30px 20px;
    background-color: #14153d;
    background-image: url(assets/footer_image.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top center;

}
footer .copyright{
    grid-column: 1/3;
    font-size: 0.8em;
}
footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
}
footer li{
    margin: 0 6px;
}
footer img{
    width: 20px;
}


/*small tablet style*/
@media screen and (min-width:620px){
    .welcome-text{
        grid-column: 1/5;
    }
    .welcome-img{
        grid-column: 7/9;
    }
    .welcome-img img{
        width: 100%;
    }  
    .projects{
        margin-top: 20px;
    }
    .projects a{
        grid-column: span 4;
        display: block;
        margin: 20px 0;
    }
    .projects a:last-child{
        grid-column: 3/7;  
        
    }
    .projects a *{
        max-width: 60%;
        margin: 10px 20px;
    }
    .projects h4{
        text-align: center;
    }
    #skills{
        padding: 30px 100px;
    }
    footer{
        background-size: 20%
    };
}

/*large tablets and laptop styles*/
@media screen and (min-width:960px){
    body{
        font-size: 18px;
    }
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .leading{
        margin: 20px 0;
    }
    .site-nav{
        padding: 0 20px;
    }
    .site-nav h1{
        grid-column: 1/3;
    }
    .site-nav ul{
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
    }
    .site-nav li{
        margin-left: 20px;
    }
    .welcome-text{
        align-self: center;
    }
    #welcome{
        padding-bottom: 40px;
    }
    .projects a:nth-child(1){
        grid-column: 2/4;
    }
    .projects a:nth-child(2){
        grid-column: 4/6;
        padding-top: 140px;
    }
    .projects a:nth-child(3){
        grid-column: 6/8;
    }
    .projects a *{
        max-width: 80%;
        margin: 10px 10px;
    }
    #skills{
        padding: 30px 20px;
    }
    #skills ul{
        margin: 40px auto;
    }
    #skills li{
        grid-column: span 2;
    }
    footer{
        padding: 40px 20px;
        background-size: 25%;
    }

}

/*desktop styles*/
@media screen and (min-width:1200px){
    body{
        font-size: 20px;
    }
    #welcome, #portfolio, #skills, #contact{
        padding: 90px 0;
    }
    .projects a:nth-child(1){
        grid-column: 1/3;
    }
    .projects a:nth-child(3){
        grid-column: 7/9;
    }
    .projects a *{
        max-width: 100%;
        margin: 30px 0;
    }
    footer{
        padding: 80px 0;
        background-size: 30%;
    }
    footer img{
        width: 30px;
    }

}